.cards {
	display: flex;
	flex-direction: column;
	gap: 24px;
	max-width: 984px;

	grid-area: cards;
}

@media screen and (max-width: 1250px) {
	.cards {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 20px;
		justify-content: center;
	}
}
@media screen and (max-width: 787px) {
	.cards {
		gap: 1%, 3%;
	}
}
