.card-filters__header{
    display: flex;
 	justify-content: space-between;
    margin-bottom: 32px;
}

@media screen and (max-width: 1250px) {
	.card-filters__header {
		flex-direction: column;
	}
}

@media screen and (max-width: 787px) {
	.card-filters__header {
		align-items: flex-start;
		margin-bottom: 20px;
	}
}
