.checkbox__item{
    position: absolute;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    margin-right: 8px;
}

.checkbox__item:checked ~ .checkbox__text::before {
    border-color: #F06000;
    cursor: not-allowed;
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='7' viewBox='0 0 9 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.53951 6.01298C2.41766 5.96221 2.30706 5.88782 2.21409 5.79409L0.294092 3.87409C0.105788 3.68579 0 3.43039 0 3.16409C0 2.89779 0.105788 2.64239 0.294092 2.45409C0.482396 2.26579 0.73779 2.16 1.00409 2.16C1.27039 2.16 1.52579 2.26579 1.71409 2.45409L2.92409 3.67409L6.29409 0.29409C6.4824 0.105787 6.73779 0 7.00409 0C7.27039 0 7.52579 0.105787 7.71409 0.29409C7.9024 0.482394 8.00818 0.73779 8.00818 1.00409C8.00818 1.27039 7.9024 1.52579 7.71409 1.71409L3.63409 5.79409C3.54113 5.88782 3.43053 5.96221 3.30867 6.01298C3.18681 6.06375 3.0561 6.08989 2.92409 6.08989C2.79208 6.08989 2.66137 6.06375 2.53951 6.01298Z' fill='%23F06000'/%3E%3Cpath d='M2.53951 6.01298C2.41766 5.96221 2.30706 5.88782 2.21409 5.79409L0.294092 3.87409C0.105788 3.68579 0 3.43039 0 3.16409C0 2.89779 0.105788 2.64239 0.294092 2.45409C0.482396 2.26579 0.73779 2.16 1.00409 2.16C1.27039 2.16 1.52579 2.26579 1.71409 2.45409L2.92409 3.67409L6.29409 0.29409C6.4824 0.105787 6.73779 0 7.00409 0C7.27039 0 7.52579 0.105787 7.71409 0.29409C7.9024 0.482394 8.00818 0.73779 8.00818 1.00409C8.00818 1.27039 7.9024 1.52579 7.71409 1.71409L3.63409 5.79409C3.54113 5.88782 3.43053 5.96221 3.30867 6.01298C3.18681 6.06375 3.0561 6.08989 2.92409 6.08989C2.79208 6.08989 2.66137 6.06375 2.53951 6.01298Z' fill='%23F06000'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
}

.checkbox__item:checked ~ .checkbox__text {
    color: #F06000;
}

.checkbox__item:disabled ~ .checkbox__text::before {
    border-color: rgba(33, 35, 41, 10%);
}


