.header__nav {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	gap: 42px;
	list-style-type: none;
	
}

@media screen and (max-width: 580px) {
	.header__nav {
		gap: 15px;
	}
}

@media screen and (max-width: 441px) {
	.header__nav {
		justify-content: flex-end;
		row-gap: 5px;
	}
}
