.header {
	background: #fff;
	display: flex;
	margin: 0 auto;
	max-width: 1440px;
	height: 72px;
	padding: 0 60px;
	align-items: center;
	justify-content: space-between;
}

@media screen and (max-width: 580px) {
	.header {
		padding: 0 20px;
	}
}

@media screen and (max-width: 475px) {
	.header {
		padding: 0 5px;
	}
}
