.header__link {
	display: flex;
	text-decoration: none;
	font-size: 18px;
	line-height: 24px;
	justify-content: center;
	color: #232129;
	transition: opacity 0.3s ease-in-out;
}

.header__link:hover {
	opacity: 0.6;
	cursor: pointer;
}
