.accordion__header{
    display: flex;
    justify-content: space-between;
    padding-top: 26px;
	padding-bottom: 36px;

}

@media screen and (max-width: 787px) {
	.accordion__header {
		padding: 20px 0;
	}
}
