.form__label {
  display: block;
  width: fit-content;
  margin: 0 0 8px 16px;
  font-family: 'Golos', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #9397A3;
}