.accordion__title {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
	background-color: white;
	color: #212329;
	border-radius: 9px;
	padding: 0 5px;
}

@media screen and (max-width: 787px) {
	.accordion__title {
		font-size: 16px;
		line-height: 20px;
	}
}
