.card__info {
	margin: 0;
	margin-top: 16px;
	margin-right: 32px;
	padding: 0;

	display: flex;

	font-family: "Golos", Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 133%;


}

.card__info:first-child {
	margin-top: 32px;
}
@media screen and (max-width: 1250px) {
	.card__info {
		margin-top: 10px;
		display: inline-block;
	}
	.card__info:first-child {
		margin-top: 10px;
	}
}

.card__info_theme_dark {
	background-color: #e6e7eb;
	border-radius: 10px;
	padding: 2px 5px 0;
	color: #212329;
	max-width: 140px;
	
}
