.card-filters {
    box-sizing: border-box;
    max-width: 312px;
    padding: 32px;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
	box-shadow: 0px 0px 4px rgba(231, 232, 235, 0.6), 0px 4px 16px rgba(231, 232, 235, 0.6);
    border-radius: 16px;

	grid-area: card-filters;
}


@media screen and (max-width: 420px) {
	.card-filters {
		width: 100%;
		max-width: none;
	}
}
