.button {
  margin: 0;
  padding: 0;

  height: 48px;

  text-align: center;

  font-family: 'Golos', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;

  cursor: pointer;

  border-radius: 16px;
  border: none;
}
